.navbar-brand img {
  height: 1.5vw; 
  cursor: pointer;
}

.nav-link {
  text-decoration: none;
  color: #000;
  position: relative;
  text-align: center;
  background-color: transparent; 
}
.navbar-nav .nav-link {
  font-size: 0.vw; 
  font-weight: 500;

}

.nav-link.active,
.nav-link:hover {
  background-color: var(--secondary-color);
  color: var(--primary-color) !important;
}

.nav-item {
  margin: 0 0.9rem;
  background-color: var(--primary-color);
  width: 10%;
  position: relative;

}

.nav-link::before,
.nav-link::after {
  content: '';
  position: absolute;
  left: 0;
  right: 0;
  height: 2px;
  background-color: var(--secondary-color);
  transform: scaleX(0);
  transition: transform 0.3s ease;
}

.nav-item:hover .nav-link::before,
.nav-item:hover .nav-link::after,
.nav-item.active .nav-link::before,
.nav-item.active .nav-link::after {
  transform: scaleX(1);
}

.nav-link::before {
  top: -5px;
}

.nav-link::after {
  bottom: -5px;
}

.nav-item:hover::after {
  opacity: 1;
}

.nav-item.active::after,
.nav-item.active:hover::after {
  opacity: 1;
}

.nav-item::after {
  content: '';
  display: block;
  width: 50px;
  height: 50px;
  background-image: url('../../assets/logo_menu.png');
  background-size: contain;
  background-repeat: no-repeat;
  position: absolute;
  top: 90%;
  left: -40px;
  transform: translateY(-50%);
  z-index: 1;
  opacity: 0;
}

.navbar-nav {
  justify-content: center;
  flex: 1;
}


@media (max-width: 768px) {
  .navbar-nav {
    flex-direction: column; 
  }

  .nav-item {
    margin: 0.5rem 0; 
    background-color: var(--primary-color);
    width: 100%; 
  }

  .nav-link {
    display: block;
    padding: 1rem;
  }

  .navbar-collapse {
    margin-top: 1rem; 
  }
}