/* Styles de base pour les grands écrans */
.navbar-brand img {
  height: 1.5em; 
  cursor: pointer;
}

.nav-link {
  text-decoration: none;
  color: #000;
  position: relative;
  text-align: center;
  background-color: transparent; 
}
.navbar-nav .nav-link {
  font-size: 1em; 
  font-weight: 500;
}

.nav-link.active,
.nav-link:hover {
  background-color: var(--secondary-color);
  color: var(--primary-color) !important;
}

.nav-item {
  margin: 0 0.9em; 
  background-color: var(--primary-color);
  width: 12%;
  position: relative;
}

.nav-link::before,
.nav-link::after {
  content: '';
  position: absolute;
  left: 0;
  right: 0;
  height: 0.125em; 
  background-color: var(--secondary-color);
  transform: scaleX(0);
  transition: transform 0.3s ease;
}

.nav-item:hover .nav-link::before,
.nav-item:hover .nav-link::after,
.nav-item.active .nav-link::before,
.nav-item.active .nav-link::after {
  transform: scaleX(1);
}

.nav-link::before {
  top: -0.3125em;
}

.nav-link::after {
  bottom: -0.3125em; 
}

.nav-item:hover::after {
  opacity: 1;
}

.nav-item.active::after,
.nav-item.active:hover::after {
  opacity: 1;
}

.nav-item::after {
  content: '';
  display: block;
  width: 3.125em; 
  height: 3.125em;
  background-image: url('../../assets/logo_menu.png');
  background-size: contain;
  background-repeat: no-repeat;
  position: absolute;
  top: 90%;
  left: -2.5em; 
  transform: translateY(-50%);
  z-index: 1;
  opacity: 0;
}

.navbar-nav {
  justify-content: center;
  flex: 1;
}

@media (max-width: 1024px) {
  /* Ajout de styles pour les tablettes et les mobiles */
  .navbar-nav {
    flex-direction: row; 
  }

  .nav-item {
    margin: 0.5em; 
    width: auto; 
  }

  .nav-link {
    padding: 0.8em 1.2em; 
    font-size: 0.9em;
  }

  .navbar-collapse {
    display: flex; 
    justify-content: flex-end; 
    margin-top: 1em;
  }
}

@media (max-width: 768px) {
  .navbar-nav {
    flex-direction: column;
  }

  .nav-item {
    margin: 0.5em 0;
    background-color: var(--primary-color);
    width: 100%;
  }

  .nav-link {
    display: block;
    padding: 1em;
    font-size: calc(14px + 2 * ((100vw - 320px) / 680)); 
  }

  .navbar-collapse {
    margin-top: 1em;
  }
  .nav-item::after {
    content: '';
    display: block;
    width: 0;
    height: 0;

  }
}

@media (max-width: 1024px) {
  .nav-item::after {
    display: none;
  }
}
