.menu-container {
    display: flex;
    justify-content: center;
    align-items: center;
}

.menu {
    list-style: none;
    display: flex;
    padding: 0;
}

.menu-item {
    flex: 2;
    text-align: center;
    position: relative;
    background: #ada893;
    margin: 0 20px;
    border-radius: 2px;
}

.menu-item .nav-link {
    text-decoration: none;
    color: #000;
    padding: 4px 40px;
    font-size: 1.2em;
    display: block;
    transition: background-color 0.3s, color 0.3s;
    position: relative;
}

.menu-item .nav-link.active {
    background-color: #58554b; 
    color: #fff; 
}

.menu-item:hover .nav-link, .menu-item .nav-link.active {
    background-color: #58554b;
    color: #fff;
}

/* Hide lines by default */
.menu-item .nav-link .line-above,
.menu-item .nav-link .line-below {
    content: '';
    position: absolute;
    left: 0;
    width: 100%;
    height: 3px;
    background-color: transparent; 
    transition: background-color 0.3s ease;
}

.menu-item .nav-link .line-above {
    top: -10px;
}
.menu-item .nav-link .line-below {
    bottom: -10px;
}


.menu-item:hover .nav-link .line-above,
.menu-item:hover .nav-link .line-below {
    background-color: #58554b;
}

.menu-item .nav-link.active .line-above,
.menu-item .nav-link.active .line-below {
    background-color: #58554b; 
}

.back-arrow {
    cursor: pointer; 
    position: absolute; 
    left: 10px; 
    top: 25px;  
}

.back-arrow img {
    height: 30px; 
    width: auto; 
    display: block; 
}


.menu-item::after {
    content: '';
    display: block;
    width: 150px;
    height: 150px;
    background-image: url('../../assets/logo_1.png');
    background-size: contain;
    background-repeat: no-repeat;
    position: absolute;
    left: -90px;
    top: 55%;
    transform: translateY(-29%);
    transition: opacity 0.3s ease, transform 0.3s ease;
    z-index: 10;
    opacity: 0;
}

.menu-item:hover::after, .menu-item.active::after {
    opacity: 1;
}
