.page-container {
    display: flex;
    flex-direction: column;
    min-height: 100vh;
  }
  

  .content {
    flex: 1;
  }
  
  .background-image-top
  {
    background: url('../../assets/nier-border.svg') repeat-x;
    background-size: 70px 50px;
    height: 50px;
    width: 100%;
  }


  .background-image-bottom {
    background: url('../../assets/nier-border.svg') repeat-x;
    background-size: 70px 50px;
    height: 50px;
    width: 100%;
  }
  
  
  footer {
    margin-bottom: 20px;
    color: #58554b;
    text-align: center;
    font-weight: 500;
  }
  