.layout-container {
    display: flex;
    flex-direction: column;
    min-height: 100vh;
    justify-content: space-between;
    align-items: center; 
    position: relative; 
  }
  
  .top-elements {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100%;
    padding: 10px;
    position: relative;
    
  }
  
  .bottom-elements {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100%;
    padding: 10px;
    position: relative;
  }
  

.pyramide {
    margin: 2; 
}

.line {
    top: 35px; 
  
}