
.background-image-top,
.background-image-bottom {
  background: url('../../assets/nier-border.svg') repeat-x;
  background-size: 4% 40px;
  height: 40px;
  width: 100%;
}

footer {
  font-weight: 500;
  color: var(--secondary-color);}
