
.quest-title {
  font-size: 1.5rem;
  font-family: 'Manrope', sans-serif;
  color: var(--primary-color);
  font-weight: bold;
  background-color: var(--secondary-color); 
  padding: 8px 25px;
  display: inline-block; 
  max-width: fit-content;
  animation: fadeInLeft 0.5s ease forwards;
  opacity: 0;
}

.secondary{

  animation: fadeInRight 0.5s ease forwards;
  opacity: 0;
}

.overlay {
  position: fixed;
  display: block;
  width: 100%;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: rgba(0, 0, 0, 0.5);
  cursor: pointer;
}

.overlay-content {
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  max-width: 80%;
  max-height: 80%;
  overflow: auto;
}

.button-animation {
  animation: fadeInLeft 0.5s ease forwards;
  opacity: 0;
}

.button-animation_secondary {
  animation: fadeInRight 0.5s ease forwards;
  opacity: 0;
}

@keyframes fadeInRight {
  from {
    opacity: 0;
    transform: translateX(20px);
  }
  to {
    opacity: 1;
    transform: translateX(0);
  }
}


@keyframes fadeInLeft {
  from {
    opacity: 0;
    transform: translateX(-20px); 
  }
  to {
    opacity: 1;
    transform: translateX(0);
  }
}

@keyframes fadeIn {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}

.message-appear {
  animation: fadeIn 1s ease-out;
}

/* Carte des quêtes */
.card {
  background-color: var(--primary-color)!important;
  border-radius: 10px;
  padding: 20px;
  text-align: left;
}

.card img.rounded-circle {
  width: 50px;
  height: 50px;
  margin-right: 10px;
}

/* Bouton de quête */
.custom-button-quest {
  background-color: var(--primary-color);
  border: 2px;
  padding: 10px 20px;
  cursor: pointer;
  min-width: 250px;
  color: var(--secondary-color);
  margin: 6px;
}

.custom-button-quest:hover {
  background-color: var(--secondary-color);
  color: #fff;
}

.custom-button-quest::before,
.custom-button-quest::after {
  content: '';
  position: absolute;
  left: 0;
  right: 0;
  height: 2px;
  background-color: transparent;
  transform: scaleX(0);
  transition: transform 0.6s ease, background-color 0.3s ease;
  top: -5px;
}

.custom-button-quest::after {
  top: unset;
  bottom: -5px;
}

.custom-button-quest:hover::before,
.custom-button-quest:focus::before,
.custom-button-quest:hover::after,
.custom-button-quest:focus::after {
  transform: scaleX(1);
  background-color: var(--secondary-color);
}

.custom-button-quest {
  position: relative;
  transition: all 0.3s ease;
}

.custom-button-quest:hover,
.custom-button-quest:focus {
  background-color: var(--secondary-color);
  color: white;
}

@media screen and (max-width: 850px) {
  .card {
    width: 100%;
    background-color: blueviolet;
  }

  .card-body {
    font-size: 0.8rem;
  }

  .quest-title{
    font-size: 1.3rem;
    animation: none;
    opacity: 1;
  }
  .custom-button-quest{
    font-size: 0.9rem;
  }
  .secondary{
    margin-top: 1rem;
  }
}
