.quest-title {
  font-size: 1.5rem;
  margin-bottom: 10px;
  font-family: 'Manrope', sans-serif;
  color: var(--secondary-color);
  font-weight: bold;
}

.quest-divider-vertical {
  border-left: 2px solid var(--secondary-color);
  height: 100%; 
}
/* Styles pour les quêtes principales */
.main-quest {
  background-color: #f0f0f0;
  padding: 20px;
  border-radius: 10px;
  margin-bottom: 20px;
}

.secondary-quest {
  background-color: #f9f9f9;
  padding: 20px;
  border-radius: 10px;
  margin-bottom: 20px;
}

/* Animation pour l'apparition des quêtes */
@keyframes fadeIn {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}

.message-appear {
  animation: fadeIn 1s ease-out;
}

.card {
  max-width: 800px;
  margin: auto;
}

.card-body {
  text-align: left; 
}

.card-body img.rounded-circle {
  width: 50px;
  height: 50px;
  margin-right: 10px; 
}
.custom-button-quest {
  background-color: var(--primary-color);
  border: none; 
  padding: 10px 20px;
  cursor: pointer;
  min-width: 250px;
}

.custom-button-quest:hover {
  background-color: var(--secondary-color); 
  color: #fff; 
}


.custom-button-quest::before,
.custom-button-quest::after {
  content: '';
  position: absolute;
  left: 0;
  right: 0;
  height: 2px;
  background-color: transparent;
  transform: scaleX(0);
  transition: transform 0.6s ease, background-color 0.3s ease;
  top: -5px;
}

.custom-button-quest::after {
  top: unset;
  bottom: -5px;
}

.custom-button-quest:hover::before,
.custom-button-quest:focus::before,
.custom-button-quest:hover::after,
.custom-button-quest:focus::after {
  transform: scaleX(1);
  background-color: var(--secondary-color);
}

.custom-button-quest {
  position: relative;
  transition: all 0.3s ease;
}

.custom-button-quest:hover,
.custom-button-quest:focus {
  background-color: var(--secondary-color);
  color: white;
}