.list-group-item {
    background-color: transparent !important; 
    border: none !important; 
}

.header {
    background-color: var(--secondary-color);
    color: white;
    padding: 5px;
    margin-bottom: 2px;
}

.language_time{
    color:var(--secondary-color);
    font-weight: 500;

}
.custom-list {
    overflow-y: auto;
    max-height: 400px; 
  }

  .custom-scrollbar {
    padding-right: 10px;
  }

  .custom-scrollbar::-webkit-scrollbar {
    width: 8px; 
  }
  
  .custom-scrollbar::-webkit-scrollbar-thumb {
    background: var(--secondary-color);
    border-radius: 4px; 
  }

  .project-image {
    width: 70px; /* Largeur souhaitée */
    height: 70px; /* Hauteur souhaitée */
    margin-right: -10px; /* Marge négative pour compenser l'espace supplémentaire */
  }