.save-slot {
  display: flex;
  align-items: center;
  position: relative;
  margin-bottom: 40px;
  width: 90%;
  font-family: 'Manrope', sans-serif;
  padding-left: 10px;
  box-sizing: border-box;
  justify-content: space-between; /* This will push the child elements to the sides */

}

.slot-header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  color: white;
  width: 100%;
  background-color: #58554b;
  height: 40px;
  margin-bottom: 10px;
}

.slot-content {
  width: calc(100% - 100px);
}

.save-image {
  width: 100px;
  height: auto;
  border-radius: 4px;
  margin-right: 20px;
}

.slot-details {
  padding: 10px 0px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.slot-language {
  font-size: 1em;
  font-weight: normal;
}

.play-time {
  font-size: 1em;
  font-weight: normal;
  margin-left: auto;
}

.save-name {
  font-size: 1.2em;
  font-weight: bold;
  margin-left: 15px;
}

.save-date {
  font-size: 0.9em;
  font-weight: normal;
  margin-right: 15px;
}

.save-screen {
  width: 80%;
  position: relative;
  padding-right: 17px;
}

.scroll-container {
  max-height: 565px;
  overflow-y: auto;
  width: calc(40% + 17px);
  margin-right: -17px;
  box-sizing: content-box;
}

.scroll-container::-webkit-scrollbar {
  width: 5px;
}

.scroll-container::-webkit-scrollbar-track {
  background: transparent;
}

.scroll-container::-webkit-scrollbar-thumb {
  background-color: #58554b;
  border-radius: 10px;
  border: none;
}

.project-details {
  position: absolute;
  max-width: 900px;
  margin: 40px auto; 
  background-color: #ada893; 
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2); 
  overflow: hidden; 
  font-family: 'Manrope', sans-serif; 
  top: -60px; 
  right: 0;
  width: calc(60% - 20px);

}

.project-content {
  padding: 20px; 
  color: #333; 
  font-size: 18px;
  line-height: 1.7; 
}

.project-details p {
  margin: 5px 0;
}

.project-title {
  display: flex; 
  justify-content: space-between; 
  align-items: center; 
  background-color: #58554b; 
  color: white; 
  font-size: 24px; 
  font-weight: bold;
  padding: 30px 20px; 
  margin: 0;
  text-align: left; 
}

.project-intitule{
  font-size: 30px;
}

.project-desciption{

  font-size: 19px;
  line-height: 1.7;
}

.project-button {
  background-color: #ada893; 
  color: black; 
  padding: 10px 20px; 
  margin-top: 10px;
  border-radius: 5px; 
  font-size: 20px; 
  cursor: pointer;
  border: 2px solid #58554b; 
}

.project-button:hover {
  background-color: #58554b; 
  color: white;
  border: 2px solid #ada893; 

}

.close-button {
  width: 20px;
  height: 20px;
}