@font-face {
  font-family: 'RodinProDB';
  src: url('./font/FOT-Rodin Pro DB.otf') format('opentype');
  font-weight: normal;
  font-style: normal;
}
body {
  font-family: 'RodinProDB', sans-serif;
}

.text-embossed {
  color: #5a5a5a;
  text-shadow: 10px 20px 1px rgba(172, 168, 153, 0.5);
  font-size: 55px;
  font-weight: 300;
  position: relative; 
}
