.text-container {
    font-size: 20px;
    padding: 20px;
    text-align: center;
    color: #58554b;
}

.Typewriter__cursor {
    display: none;
  }

  .typewriter-container {
    height: 50px; 
    overflow: hidden;
  }
