.text-container {
    font-size: 15px;
    padding: 15px;
    text-align: center;
    color: #58554b;
}

.Typewriter__cursor {
    display: none;
  }

  .typewriter-container {
    height: 40px; 
  }
